@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';

/* purgecss start ignore */

.inset-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:focus {
  outline: #08f auto 2px;
}

body.using-mouse :focus {
  outline: none;
}

.filter-dropshadow {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}
