@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .inset-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  :focus {
    outline: #08f auto 2px;
  }

  body.using-mouse :focus {
    outline: none;
  }

  div[aria-hidden=true] a[href],
  div[aria-hidden=true] area[href], 
  div[aria-hidden=true] input:not([disabled]), 
  div[aria-hidden=true] select:not([disabled]), 
  div[aria-hidden=true] textarea:not([disabled]), 
  div[aria-hidden=true] button:not([disabled]), 
  div[aria-hidden=true] [tabindex]:not([disabled]), 
  div[aria-hidden=true] [contenteditable=true]:not([disabled]) {
    visibility: hidden;
  }
}
